<!-- src/app/landing-page/landing-page.component.html -->
<div class="landing-page-background d-flex align-items-center justify-content-center vh-100">
  <div class="text-center p-4 p-md-5 bg-body rounded-lg shadow-xl border border-secondary" style="max-width: 900px;">

    <h1 class="display-3 fw-bold text-body-emphasis mb-3 animate__animated animate__fadeInDown">
      Welcome, <span class="text-primary">Admin</span>!
    </h1>
    <p class="lead text-secondary mb-4 px-md-5 animate__animated animate__fadeInUp animate__delay-1s">
      Access the control panel for our E-commerce Project. Manage products, orders, users, and more to ensure smooth operations.
    </p>
    <button
      class="btn btn-primary btn-lg px-5 py-3 rounded-pill fw-bold shadow-sm animate__animated animate__zoomIn animate__delay-2s"
      (click)="goToLogin()"
    >
      Admin Login
    </button>
  </div>
</div>
