<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"> Welcome {{ currentUser?.name}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body ">

    <p><strong>Email:</strong> {{ currentUser?.email }}</p>

    <div>
      <ul class="list-group">
        <li *ngIf="isSuperAdmin">
          <button class="btn" routerLink="/dashboard/adminManagement"><i class="bi bi-briefcase"></i> manage admins</button>
        </li>
        <li>
          <button class="btn" routerLink="/dashboard/productManagement"><i class="bi bi-box"></i> manage products</button>
        </li>
        <li>
          <button class="btn text-danger" (click)="logout()"><i class="bi bi-x-octagon"></i> sign out</button>
        </li>
      </ul>
    </div>
  </div>
</div>
